footer {
    font-family: $ff-sans-serif;
    font-size: $fz-6;
    
    background: $purple-dark;
    color: rgba(255, 255, 255, 0.9);

    padding: 1rem;

    @media screen and (min-width: 30rem) {
        max-width: 34rem;

        border-left: 1rem solid $purple-light;
    }
}

    footer a {
        color: $yellow;
    }

        footer a:hover {
            text-decoration-style: double;
        }
