body {
    font-family: $ff-sans-serif;

    @media screen and (min-width: 30rem) {
        // padding-left: 1rem;
    }
}

main {
    padding: 1rem 1rem 1rem 2rem;

    max-width: 42rem;

    line-height: 1.4;
}

    main.page--full-width {
        max-width: 100%;
    }

.page-toc {
    padding: 1rem;

    background: $off-white;
}
