.page-header {
    font-family: $ff-sans-serif;
    font-size: $fz-6;
    
    background: $purple-dark;
    color: rgba(255, 255, 255, 0.9);

    padding: 3rem 1rem;

    @media screen and (min-width: 30rem) {
        max-width: 34rem;

        border-left: 1rem solid $purple-light;
    }
}

    .project-title {
        color: $yellow;

        font-size: $fz-2;

        font-weight: 700;

        line-height: 1;

        margin: 0;
    }

    .project-subtitle {
        font-size: $fz-4;

        font-style: italic;

        margin-top: 1rem;
    }

    .page-header a {
        color: $yellow;

        margin-right: 1rem;
    }
        .page-header a:hover {
            text-decoration-style: double;
        }
