// Colours
$off-white: rgba(232, 234, 229, 1);
$grey: rgba(169, 172, 169, 1);
$purple-light: rgba(96, 73, 90, 1);
$purple: rgba(63, 50, 68, 1);
$purple-dark: rgba(47, 34, 53, 1);
$yellow: rgba(238, 243, 106, 1);


// Type
$ff-sans-serif: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica,
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;

$ff-serif: georgia, times, serif;

$fz-1: 3rem;
$fz-2: 2.25rem;
$fz-3: 1.5rem;
$fz-4: 1.25rem;
$fz-5: 1rem;
$fz-6: .875rem;
$fz-7: .75rem;
